.prettyBottom {
    margin-bottom: 50px;
}

.buff {
    padding-right: 10px;
}

.doIt {
    -webkit-animation: wowzers 40s linear infinite;
       -moz-animation: wowzers 40s linear infinite;
            animation: wowzers 40s linear infinite;
}

.spacit {
    letter-spacing: 2px;
}

.buffMore {
    padding-right: 20px;
}

@keyframes wowzers {
    0% {
        letter-spacing: 2px;
    }
    12%, 40%, 62%, 90% {
        text-shadow: 0px 0px 10px white;
    }
    25%, 75% {
        text-shadow: 0px 0px 10px white, 0px 0px 20px lightgreen, 0px 0px 30px green, 0px 0px 40px lightgreen, 0px 0px 50px white;
    }
    50% {
        letter-spacing: 7px;
        text-shadow: 0px 0px 10px green, 0px 0px 20px lightgreen, 0px 0px 30px white, 0px 0px 40px lightgreen, 0px 0px 50px green;
    }
    100% {
        letter-spacing: 2px;
    }
}