@{
    ViewBag.Title = "Home Page";
}

<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">
                Josh Patterson
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="row">
                        <a href="#" class="nav-link">
                            <i class="material-icons">bug_report</i> Bug Tracking System
                        </a>
                        <a href="#" class="nav-link">
                            <i class="material-icons">attach_money</i> Financial Portal
                        </a>
                        <a href="#" class="nav-link">
                            <i class="material-icons">link</i> Financial API
                        </a>
                        <a href="#" class="nav-link">
                            <i class="material-icons">hearing</i> Opus Blog
                        </a>
                        <a href="#" class="nav-link">
                            <i class="material-icons">contact_mail</i> Contact
                        </a>
                        <a href="#" class="nav-link">
                            <i class="material-icons">work</i> Resume
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="page-header header-filter" data-parallax="true" style="background-image: url('/Template/assets/img/bg3.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h1 class="doIt">Code... Developed.</h1>
                    <h3 class="title text-center">HTML5, CSS3, Vanilla JS, C#, Python, LUA</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <h2 class="title">About</h2>
            <hr />
            <h5>
                I am a <span id="birth"></span> year old Father of four boys, husband to a beautiful nurse for
                <script>document.write(parseInt(new Date().getFullYear()) - 2015)</script> years.
                I enjoy problem solving, especially when it comes to coding. When I'm not solving problems or enjoying time with my family, I enjoy space related Video
                Games and playing instruments. I was brought up in church where I learned to play all the modern stage instruments (drums, piano, bass, etc.).
                I also enjoy golf, even though I haven't been able to play in years.
            </h5>
            <hr />
        </div>
        <div class="section text-center">
            <h2 class="title">Portfolio</h2>
            <h3 class="title">Vanilla JS</h3>
            <hr />
        </div>
        <a data-toggle="modal" data-target="#arith" style="cursor: pointer">
            <div class="row prettyBottom border rounded">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <img src="~/Template/assets/img/puma_laptop.jpg" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <h2>Basic Math Functions using Vanilla JS</h2>
                    <h4>This basic project contains 5 inputs. It computes several different math functions depending on which button you press. You can enter 5 numbers or less. You cannot enter a letter.</h4>
                    <h4>Click anywhere in this area to see a pop up of the project.</h4>
                </div>
            </div>
        </a>
        <a data-toggle="modal" data-target="#factor" style="cursor: pointer">
            <div class="row prettyBottom border rounded">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <h2>Find the Factorial</h2>
                    <h4>
                        The factorial of a positive integer is the product of all positive integers less than or equal to the input. Click somewhere in this area and input a positive integer into the field
                        and press the Factorial button to get an answer. You may not input a negative or a non-integer.
                    </h4>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <img src="~/Template/assets/img/code_laptop.jpg" class="img-fluid">
                </div>
            </div>
        </a>
        <a data-toggle="modal" data-target="#fizzBuzz" style="cursor: pointer">
            <div class="row prettyBottom border rounded">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <img src="~/Template/assets/img/laptop.jpg" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <h2>FizzBuzz</h2>
                    <h4>
                        The Classic FizzBuzz program. This program accepts two numerical inputs. It then iterates from one to one hundred and attempts to divide each input and both inputs into each iteration.
                        If it is evenly divisible by both inputs, it outputs a "FizzBuzz." If it is evenly divisible by the first input, it outputs a Fizz, and a Buzz for the second. Click somewhere in this area to give it a try!
                    </h4>
                </div>
            </div>
        </a>
        <a data-toggle="modal" data-target="#palin" style="cursor: pointer">
            <div class="row prettyBottom border rounded">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <h2>Palindrome?</h2>
                    <h4>
                        A palindrome is a word or phrase that is spelled the same way fowards or backwards. Race Car is an example of a palindrome. Type in any phrase or word and see if it is a palindrome. You can type
                        in any combination of capital letters with or without spaces. Click around here and give it a try.
                    </h4>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <img src="~/Template/assets/img/glasses_comp.jpg" class="img-fluid">
                </div>
            </div>
        </a>
        <a data-toggle="modal" data-target="#sumOfAllFears" style="cursor: pointer">
            <div class="row prettyBottom border rounded">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <img src="~/Template/assets/img/typing.jpg" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <h2>Sum of All Fears</h2>
                    <h4>
                        The sum of all fears is a JS math exercise where you input several numbers into a list. Each number is labeled A through D, except the last number (k). This program evaluates all pairs
                        of numbers in the list, checking to see if any two numbers add up to the input k. Click anywhere in this area to try it.
                    </h4>
                </div>
            </div>
        </a>
        <hr />
        <div class="section text-center">
            <h2 class="title">Contact Me</h2>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button class="btn btn-primary float-right">Send</button>
            </form>
        </div>
    </div>
</div>

<!-- modals -->

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="arith">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Input up to five numbers and click the appropriate labeled button to perform the desired task.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p>A: <input id="num1" type="number" step="any"></p>
                        <p>B: <input id="num2" type="number" step="any"></p>
                        <p>C: <input id="num3" type="number" step="any"></p>
                        <p>D: <input id="num4" type="number" step="any"></p>
                        <p>E: <input id="num5" type="number" step="any"></p>
                    </div>
                    <button class="btn btn-info" onclick="sum()">SUM</button>
                    <button class="btn btn-info" onclick="prod()">PRODUCT</button>
                    <button class="btn btn-info" onclick="mean()">MEAN</button>
                    <button class="btn btn-info" onclick="max()">MAX</button>
                    <button class="btn btn-info" onclick="min()">MIN</button>
                </div>
                <div class="container">
                    <p><div id="result">Your results will display here.</div></p>
                </div>
            </div>
            <div class="modal-footer">
                <button id="toggleBtnA" type="button" class="btn btn-primary" onclick="toggleIt('arithBlock', 'toggleBtnA')">Display Code</button>
            </div>
            <div id="arithBlock" style="display: none"><pre rel="JavaScript"><code class="lang-javascript">
function validateThem() {

    arr = [];
    for (i = 1; i < 6; i++) {
        let check = "num" + i;
        var item = document.getElementById(check).value;
        if (item != "") {
        arr.push(+item);
        }
    }
}

function sum() {
    return result.innerHTML = "The sum of your numbers equals "
        + (+num1.value + +num2.value + +num3.value
        + +num4.value + +num5.value) + ".";
}

function prod() {

    validateThem();
    var product = 1;
    for (i = 0; i < arr.length; i++) {
        product = product * arr[i];
        }
        return result.innerHTML = "The product of your numbers is " + product + ".";
    }

function mean() {

    validateThem();
    var averageItems = 0;
    for (i = 0; i < arr.length; i++) {
        averageItems = averageItems + arr[i];
    }
    return result.innerHTML = "The average of your inputs is "
        + (averageItems / arr.length) + ".";
}

function max() {

    validateThem();
    return result.innerHTML = "The largest number in your inputs is "
        + Math.max(...arr) + ".";
}

function min() {

    validateThem();
    return result.innerHTML = "The smallest number in your inputs is "
        + Math.min(...arr) + ".";
}
                </code></pre></div>

        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="factor">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Input a positive number and click the 'Factorial' button to display the answer.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <p>Enter Positive Number: <input type="number" step="1" id="num"></p>
                    <p><div id="factResult">Your answer will display here.</div></p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="buff"><button class="btn btn-info" onclick="facto(+num.value)">FACTORIAL</button></div>
                <button id="toggleBtnB" type="button" class="btn btn-primary" onclick="toggleIt('factoBlock','toggleBtnB')">Display Code</button>
            </div>
            <div id="factoBlock" style="display: none">
                <pre rel="JavaScript"><code class="lang-javascript">

function facto(n) {

    checkLetters();
    if (n < 0) {
        alert("Can't use a negative number")
        num.value = "";
        return
    } else if (n === 0 || n === 1) {
        return factResult.innerHTML = "Your Factorial is 1";
    } else if (n > 1) {
        for (var i = n - 1; i >= 1; i--) {
        n *= i;
    }
    return factResult.innerHTML = "Your Factorial is " + n + ".";
}
</code></pre>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="fizzBuzz">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Input two numbers and click 'Calculate' to display a column of answers. The function only iterates
                up to 100, so numbers greater than that will not display.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p>A: <input id="fizz" type="number" step="1"></p>
                        <p>B: <input id="buzz" type="number" step="1"></p>
                    </div>
                    <div class="row">
                        <p>Your output will display below.</p>
                    </div>
                    <div id="fizzBuzzResult" style="overflow: auto; height: 300px;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="buff"><button class="btn btn-info" onclick="zzzz()">Calculate</button></div>
                <button id="toggleBtnC" type="button" class="btn btn-primary" onclick="toggleIt('fBBlock','toggleBtnC')">Display Code</button>
            </div>
            <div id="fBBlock" style="display: none">
                <pre rel="JavaScript"><code class="lang-javascript">
function zzzz() {

    var fizzy = +fizz.value;
    var buzzy = +buzz.value;
    var allInfo = [];

    for (i = 1; i < 101; i++) {
        if (i % fizzy == 0 && i % buzzy == 0) {
            allInfo.push("<b style='color: red;'>(" + i + ") FizzBuzz</b><br>");
        } else if (i % buzzy == 0) {
            allInfo.push("<b style='color: green;'>(" + i + ")Buzz</b><br>");
        } else if (i % fizzy == 0) {
            allInfo.push("<b style='color: blue;'>(" + i + ")Fizz</b><br>");
        } else {
            allInfo.push("<b style='color: black;'>" + i + "</b><br>");
        }
    }
    return fizzBuzzResult.innerHTML = allInfo.join("");
}
</code></pre>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="palin">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Input a word or phrase and click 'Palindrome?' to evaluate and see if it's a palindrome.
                You can enter a phrase with spaces and capital letters and my function will still work correctly.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p>Enter Word: <input id="drome" type="text"></p>
                    </div>
                    <div class="row">
                        <div id="palAnswer"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="buff"><button class="btn btn-info" onclick="palin()">Palindrome?</button></div>
                <button id="toggleBtnD" type="button" class="btn btn-primary" onclick="toggleIt('palinBlock','toggleBtnD')">Display Code</button>
            </div>
            <div id="palinBlock" style="display: none">
                <pre rel="JavaScript"><code class="lang-javascript">
function palin() {
    var inputTest = drome.value;
    var removeSpace = inputTest.replace(/\s/g, '');
    var removeCase = removeSpace.toLowerCase();
    var toArray = removeCase.split("");
    var word = toArray.reverse();
    if (word.join("") === removeCase) {
        return palAnswer.innerHTML = "Yes! You have found a palindrome. Congratulations!";
    } else {
        return palAnswer.innerHTML = "Nope. Not a palindrome. Sorry. :(";
    }
}

</code></pre>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="sumOfAllFears">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Enter numbers into the inputs A through D and a last number in K. See if any two of the first four numbers add up to equal K.
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <p>A: <input type="number" id="numb1"></p>
                        <p>B: <input type="number" id="numb2"></p>
                        <p>C: <input type="number" id="numb3"></p>
                        <p>D: <input type="number" id="numb4"></p>
                        <p>k: <input type="number" id="k"></p>
                    </div>
                    <div class="row">
                        <div id="soafAnswer"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="buff"><button class="btn btn-info" onclick="sumOfTears()">RUN</button></div>
                <button id="toggleBtnE" type="button" class="btn btn-primary" onclick="toggleIt('soafBlock','toggleBtnE')">Display Code</button>
            </div>
            <div id="soafBlock" style="display: none">
                <pre rel="JavaScript"><code class="lang-javascript">
    var number1 = document.getElementById("numb1");
    var number2 = document.getElementById("numb2");
    var number3 = document.getElementById("numb3");
    var number4 = document.getElementById("numb4");
    var k = document.getElementById("k");

    var arr = [];

    function sumOfTears() {
        arr = [+number1.value, +number2.value, +number3.value, +number4.value];
            for (var i = 0; i < arr.length; i++){
            var testy = +k.value - arr[i];
            var check = arr.findIndex(eachValue => eachValue == testy);
            if(check == i) {
                check = arr.includes(testy, i + 1);
            }
            if (check != -1 && check != false) {
                return document.getElementById("soafAnswer").innerHTML =
                    "Yes! Two numbers in your list add up to K! Too Cool!";
            }
        }
    return document.getElementById("soafAnswer").innerHTML = 
        "Sorry, keep trying until you get numbers that work!";
    }

</code></pre>
            </div>
        </div>
    </div>
</div>

<script>

    function toggleIt(correctDiv, correctBtn) {
        var x = document.getElementById(correctDiv);
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById(correctBtn).innerHTML = "Hide Code";
        } else {
            x.style.display = "none";
            document.getElementById(correctBtn).innerHTML = "Display Code";
        }
    }

    function sum() {
        return result.innerHTML = 'The sum of your numbers equals   ' + '<button class="btn btn-outline-primary" style="font-size: 25px">' + (+num1.value + +num2.value + +num3.value + +num4.value + +num5.value) + '</button>' + "."
    }

    function prod() {

        validateThem();
        checkLetters();
        var product = 1;
        for (i = 0; i < arr.length; i++) {
            product = product * arr[i];
        }
        return result.innerHTML = "The product of your numbers is   " + '<button class="btn btn-outline-primary" style="font-size: 25px">' + product + '</button>' + ".";
    }

    function mean() {

        validateThem();
        checkLetters();
        var averageItems = 0;
        for (i = 0; i < arr.length; i++) {
            averageItems = averageItems + arr[i];
        }
        return result.innerHTML = "The average of your inputs is   " + '<button class="btn btn-outline-primary" style="font-size: 25px">' + (averageItems / arr.length) + '</button>' +".";
    }

    function max() {

        validateThem();
        checkLetters();
        return result.innerHTML = "The largest number in your inputs is " + '<button class="btn btn-outline-primary" style="font-size: 25px">' + Math.max(...arr) + '</button>' + ".";
    }

    function min() {

        validateThem();
        checkLetters();
        return result.innerHTML = "The smallest number in your inputs is   " + '<button class="btn btn-outline-primary" style="font-size: 25px">' + Math.min(...arr) + '</button>' + ".";
    }

    function facto(n) {

        checkLetters();
        if (n < 0) {
            alert("Can't use a negative number")
            num.value = ""
            return
        } else if (n === 0 || n === 1) {
            return factResult.innerHTML = "Your Factorial is 1"
        } else if (n > 1) {
            for (var i = n - 1; i >= 1; i--) {
                n *= i;
            }
            return factResult.innerHTML = "Your Factorial is   " + '<button class="btn btn-outline-primary" style="font-size: 25px">' + n + '</button>' + ".";
        }
    }

    function validateThem() {

        arr = [];
        for (i = 1; i < 6; i++) {
            var check = ("num" + i);
            var item = document.getElementById(check).value;
            if (item != "") {
                arr.push(+item);
            }
        }
    }

    function clearFields() {

        num1.value = "";
        num2.value = "";
        num3.value = "";
        num4.value = "";
        num5.value = "";
        return
    }

    function checkLetters() {

        if (isNaN(+num1.value) || isNaN(+num2.value) || isNaN(+num3.value) || isNaN(+num4.value) || isNaN(+num5.value)) {
            alert("Don't use letters please.");
            clearFields();
            return
        }
    }

    function zzzz() {

        var fizzy = +fizz.value;
        var buzzy = +buzz.value;
        var allInfo = [];

        for (i = 1; i < 101; i++) {
            if (i % fizzy == 0 && i % buzzy == 0) {
                allInfo.push("<b style='color: red;'>(" + i + ") FizzBuzz</b><br>");
            } else if (i % buzzy == 0) {
                allInfo.push("<b style='color: green;'>(" + i + ")Buzz</b><br>");
            } else if (i % fizzy == 0) {
                allInfo.push("<b style='color: blue;'>(" + i + ")Fizz</b><br>");
            } else {
                allInfo.push("<b style='color: black;'>" + i + "</b><br>");
            }
        }
        return fizzBuzzResult.innerHTML = allInfo.join("");
    }

    function palin() {
        var inputTest = drome.value;
        var removeSpace = inputTest.replace(/\s/g, '');
        var removeCase = removeSpace.toLowerCase();
        var newStr = [];
        for (var i = removeCase.length - 1; i >= 0; i--) {
            newStr += removeCase[i];
        }
        if (removeCase === newStr) {
            return palAnswer.innerHTML = "Yes! You have found a palindrome. Congratulations!";
        } else {
            return palAnswer.innerHTML = "Nope. Not a palindrome. Sorry. :(";
        }
    }

    var mon = new Date().getMonth();
    var dat = new Date().getDate();

    function getBD() {

    if (mon >= 10) {
	    if (dat >= 18 || mon >= 11) {
    	    document.getElementById("birth").innerHTML = (parseInt(new Date().getFullYear()) - 1983);
        } else {
    	    document.getElementById("birth").innerHTML = (parseInt(new Date().getFullYear()) - 1984);}
    } else {
	    document.getElementById("birth").innerHTML = (parseInt(new Date().getFullYear()) - 1984);}
    
    };

    getBD();

    function sumOfTears() {

    var number1 = document.getElementById("numb1");
    var number2 = document.getElementById("numb2");
    var number3 = document.getElementById("numb3");
    var number4 = document.getElementById("numb4");
    var k = document.getElementById("k");

    var arr = [];

    arr = [+number1.value, +number2.value, +number3.value, +number4.value];
        for (var i = 0; i < arr.length; i++){
        var testy = +k.value - arr[i];
        var check = arr.findIndex(eachValue => eachValue == testy);
        if(check == i) {
            check = arr.includes(testy, i + 1);
        }
        if (check != -1 && check != false) {
            return document.getElementById("soafAnswer").innerHTML = "Yes! Two numbers in your list add up to K! Too Cool!";
        }
    }
    return document.getElementById("soafAnswer").innerHTML = "Sorry, keep trying until you get numbers that work!";
    }

</script>